/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("./header.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./shop.css");
@import url("./modal.css");
@import url("./error.css");
@import url("./contact.css");

:root {
	--main-dark: #000;
	--main-light: #fff;
	--sidebar-link: #3e75c8;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

[hidden] {
	display: none !important;
}

a {
	text-decoration: none;
	color: inherit;
}

p,
h1,
h2,
ul,
li {
	margin: 0;
	padding: 0;
	white-space: pre-line;
}

button {
	border: 0;
	outline: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
}

li {
	list-style: none;
}

input {
	border: 0;
	outline: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a,
img,
svg {
	vertical-align: middle;
}

body {
	overflow: hidden;
	height: 100vh;
}

#root {
	height: 100%;
	display: flex;
	position: relative;
}

#root .content {
	flex: 1 1 80%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#root .content > :first-child {
	flex: 1 1 100%;
}

#root .slide {
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s ease, transform 0.1s;
}

#root .slide::after,
#root .slide::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#root .slide:active {
	transform: scale(0.9);
}

#root .slide::after {
	transform: translateX(-100%);
}

#root .slide::before {
	transform: translateX(0%);
	transition: transform 0.3s ease;
}

#root .slide:hover::after {
	transform: translateX(0%);
	transition: all 0.3s ease;
}

#root .slide:hover::before {
	transform: translateX(-100%);
	transition: transform 0s 0.3s;
}
