.shadow {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: z-index 0.4s;
}

.shadow .loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.shadow .loading::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--main-dark);
	opacity: 0.3;
}

.shadow.active {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	transition: z-index 0s;
}

.shadow > div > .close {
	position: absolute;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.shadow > div > .close:hover {
	opacity: 1;
}
.shadow > div > .close:active {
	transform: scale(0.5);
}

.shadow > div > .close::after,
.shadow > div > .close::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 10px;
	background-color: var(--main-light);
	border: 3px;
}

.shadow > div > .close::after {
	transform: rotate(45deg);
}

.shadow > div > .close::before {
	transform: rotate(-45deg);
}

.shadow.active.showCart .cart {
	transform: translateX(0%);
}

.shadow .cart {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 0;
	bottom: 0;
	width: max(400px, 30%);
	color: var(--main-light);
	background-color: var(--main-dark);
	border-left: 1px solid var(--main-light);
	transform: translateX(100%);
	transition: transform 0.2s ease;
}

.shadow .cart .title {
	padding: 30px;
	font-size: 2rem;
	text-align: center;
	border-bottom: 1px solid var(--main-light);
}

.shadow .cart .empty {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}

.shadow .cart .checkout {
	padding: 30px;
	border-top: 1px solid var(--main-light);
	display: flex;
	column-gap: 20px;
	justify-content: space-evenly;
	align-items: center;
}

.shadow .cart .checkout .price {
	flex: 1 1 50%;
}

.shadow .cart .checkout .checkoutBtn {
	display: flex;
	padding: 20px 30px;
	flex: 1 1 50%;
	align-items: center;
	justify-content: center;
	background-color: var(--main-dark);
	color: var(--main-light);
	border: 1px solid var(--sidebar-link);
}

.shadow .cart .checkout .checkoutBtn:hover {
	border-color: var(--main-light);
	color: var(--main-light);
}

.shadow .cart .checkout .checkoutBtn::after {
	background-color: var(--main-dark);
}

.shadow .cart .checkout .checkoutBtn::before {
	background-color: var(--sidebar-link);
}

.shadow .cart .items {
	flex: 1 1 100%;
	position: relative;
}

.shadow .cart .items .itemWarp {
	position: absolute;
	padding: 20px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	overflow: scroll;
}

.shadow .cart .item {
	position: relative;
	display: flex;
}

.shadow .cart .item .warp {
	flex: 1 1 40%;
	padding: 10px;
	border: 1px solid;
}

.shadow .cart .item .description {
	flex: 1 1 60%;
	padding-left: 10px;
	padding-right: 40px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.shadow .cart .item .description .info {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.shadow .cart .item .description .info .name {
	font-size: 1.2rem;
}

.shadow .cart .item .description .subtotal {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.shadow .cart .item .description label {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.shadow .cart .item .description select {
	padding: 5px;
	background-color: var(--main-dark);
	color: var(--main-light);
	border-color: var(--main-light);
}

.shadow .cart .item .removeBtn {
	position: absolute;
	top: 0;
	right: 0;
	transition: transform 0.3s ease;
}

.shadow .cart .item .removeBtn:hover {
	transform: scale(1.1);
}

.shadow .cart .item .removeBtn:active {
	transform: scale(0.9);
}

.shadow .cart .item .removeBtn svg {
	width: 2rem;
}

.shadow.active.showAlert .alert {
	transform: translate(-50%, 50%);
}

.shadow .alert {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	bottom: 50%;
	margin: 0 auto;
	transform: translate(-50%, -100%);
	width: 40%;
	height: 50%;
	background-color: var(--main-light);
	border-radius: 10px;
	transition: transform 0.3s ease;
	overflow: hidden;
}

.shadow .alert > .title {
	padding: 10px 0;
	font-size: 1.5rem;
	text-align: center;
	background-color: var(--sidebar-link);
	color: var(--main-light);
}

.shadow .alert .product {
	flex: 1 1 auto;
	display: flex;
	min-height: 0;
	padding: 10px 20px;
	column-gap: 20px;
}

.shadow .alert .product .image {
	flex: 1 1 40%;
}

.shadow .alert .product img {
	border: 1px solid var(--main-dark);
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow .alert .product .description {
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
}

.shadow .alert .product .description > p {
	padding: 20px 0;
}

.shadow .alert .product .description .title {
	flex: 1 1 auto;
	font-size: 1.2rem;
}

.shadow .alert .buttons {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--sidebar-link);
}

.shadow .alert .buttons button {
	padding: 10px 30px;
}

.shadow .alert .buttons .left {
	color: var(--main-light);
	background-color: var(--main-light);
}

.shadow .alert .buttons .left:hover {
	color: var(--main-dark);
}

.shadow .alert .buttons .left::after {
	background-color: var(--main-light);
}

.shadow .alert .buttons .left::before {
	background-color: var(--main-dark);
}

.shadow .alert .buttons .right {
	border: 1px solid var(--main-light);
	background-color: var(--main-dark);
	color: var(--main-light);
}

.shadow .alert .buttons .right:hover {
	color: var(--main-light);
}

.shadow .alert .buttons .right::after {
	background-color: var(--main-dark);
}

.shadow .alert .buttons .right::before {
	background-color: var(--sidebar-link);
}
