.shop {
	display: flex;
	flex-direction: column;
	padding: 40px 50px;
	row-gap: 40px;
}

.shop:first-child {
	flex: 2 1 auto;
}

.shop:last-child {
	flex: 8 1 auto;
}

.shop .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shop .navigation .category {
	display: flex;
	flex: 7 1 auto;
}

.shop .navigation .category li {
	white-space: break-spaces;
}

.shop .navigation .category li:hover {
	color: var(--sidebar-link);
}

.shop .navigation .searchBar {
	--border-color: var(--main-dark);
	--border-size: 2.5px;

	display: flex;
	flex: 3 1 auto;
	position: relative;
	padding: 5px;
}

.shop .navigation .search::before,
.shop .navigation .search::after {
	height: 0%;
	width: var(--border-size);
	transition: height 0.5s ease;
	background-color: var(--border-color);
	content: "";
	position: absolute;
}

.shop .navigation .search::before {
	left: 0;
	bottom: 0;
	transition-delay: 1.5s;
}
.shop .navigation .search::after {
	right: 0;
	top: 0;
}

.shop .navigation .searchBar .search-border {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}

.shop .navigation .searchBar .search-border::before,
.shop .navigation .searchBar .search-border::after {
	content: "";
	position: absolute;
	background-color: var(--border-color);
	height: var(--border-size);
	left: 0;
}

.shop .navigation .searchBar .search-border::before {
	top: 0;
	width: 0%;
	transition: width 1s 0.5s;
}
.shop .navigation .searchBar .search-border::after {
	bottom: 0;
	width: 100%;
}

.shop .navigation .search.active-border::before {
	transition: height 0.5s;
	height: 100%;
}
.shop .navigation .search.active-border::after {
	height: 100%;
	transition: height 0.5s 1.5s;
}
.shop .navigation .search.active-border .search-border::before {
	width: 100%;
}

.shop .navigation .searchBar input[type="search"] {
	width: 100%;
	height: 100%;
}

.shop .navigation .searchBar button {
	transition: transform 0.3s ease;
}

.shop .navigation .searchBar button:hover {
	transform: scale(1.2);
}

.shop .navigation .searchBar button:active {
	transform: scale(0.9);
}

.shop .navigation .searchBar svg {
	width: 2rem;
}

.shop .products {
	display: flex;
	flex-wrap: wrap;
}

.shop .products .item {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 15px 10px;
	flex-basis: 25%;
	min-width: 0;
}

.shop .products .item:hover .info .text-link::after {
	transform: translateX(0);
	transition: transform 0.3s ease;
}

.shop .item .image-link {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.shop .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.shop .item img:hover {
	transform: scale(1.1);
}

.shop .item .info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.shop .item .info .title {
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.shop .item .info .text-link {
	position: relative;
}

.shop .item .info .text-link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1.5px solid var(--main-dark);
	transform: translateX(-100%);
	width: 100%;
}

.shop .item .info .price {
	text-align: right;
}

.shop .loading {
	display: flex;
	height: 100%;
	row-gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.productInfo {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
}

.productInfo .image {
	flex: 1 1 50%;
	padding: 0 30px;
	text-align: center;
}

.productInfo .image img {
	height: 100%;
	object-fit: cover;
}

.productInfo .info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 20px;
	flex: 1 1 50%;
	padding: 0 30px;
	font-size: 1.5rem;
}

.productInfo .info .description {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}

.productInfo .info .description .title {
	font-size: 2rem;
	margin-bottom: 10px;
}
.productInfo .info .description .price {
	font-size: 2rem;
}

.productInfo .info form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 40px;
}

.productInfo .info form label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.productInfo .info form select {
	margin-top: 10px;
	padding: 10px 20px;
	width: 50%;
}

.productInfo .info form button[type="submit"] {
	padding: 20px 30px;
	color: var(--main-light);
	width: 100%;
	background-color: var(--main-dark);
}

.productInfo .info form button[type="submit"]:hover {
	color: var(--main-light);
}

.productInfo .info form button[type="submit"]::after {
	background-color: var(--main-dark);
}

.productInfo .info form button[type="submit"]::before {
	background-color: var(--sidebar-link);
}

.productError {
	height: 100%;
	margin: 0 auto;
}

.productError .error {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
}
