.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navBar nav {
	display: flex;
	column-gap: 10px;
	align-items: center;
	flex: 7 1 auto;
}

.navBar nav li:hover {
	color: var(--sidebar-link);
}

.navBar form {
	--border-color: var(--main-dark);
	--border-size: 2.5px;

	display: flex;
	flex: 3 1 auto;
	position: relative;
	padding: 5px;
}

.navBar form::before,
.navBar form::after {
	height: 0%;
	width: var(--border-size);
	transition: height 0.5s ease;
	background-color: var(--border-color);
	content: "";
	position: absolute;
}

.navBar form::before {
	left: 0;
	bottom: 0;
	transition-delay: 1.5s;
}
.navBar form::after {
	right: 0;
	top: 0;
}

.navBar form .search-border {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
}

.navBar form .search-border::before,
.navBar form .search-border::after {
	content: "";
	position: absolute;
	background-color: var(--border-color);
	height: var(--border-size);
	left: 0;
}

.navBar form .search-border::before {
	top: 0;
	width: 0%;
	transition: width 1s 0.5s;
}
.navBar form .search-border::after {
	bottom: 0;
	width: 100%;
}

.navBar form.active-border::before {
	transition: height 0.5s;
	height: 100%;
}
.navBar form.active-border::after {
	height: 100%;
	transition: height 0.5s 1.5s;
}
.navBar form.active-border .search-border::before {
	width: 100%;
}

.navBar form input[type="search"] {
	width: 100%;
	height: 100%;
	border: 0;
}

.navBar form button {
	transition: transform 0.3s ease;
}

.navBar form button:hover {
	transform: scale(1.2);
}

.navBar form button:active {
	transform: scale(0.9);
}

.navBar form svg {
	width: 2rem;
}
